@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Barlow-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('assets/fonts/Barlow-SemiBold.woff2') format('woff2');
}
