h1,
.h1 {
  font-family: 'Inter';
  font-size: clamp(2.25rem, calc(1.701rem + 2.34vw), 3.75rem);
  font-weight: 600;
  line-height: 1.25;
}

h2,
.h2 {
  color: $color-primary;
  font-family: 'Inter';
  font-size: clamp(1.5rem, calc(1.226rem + 1.17vw), 2.25rem);
  font-weight: 600;
}

h3,
.h3 {
  color: $color-primary;
  font-family: 'Inter';
  font-size: rem(20);
  font-weight: 600;
  line-height: 1.8;
}
