.site-header {
  padding: 0;
  bottom: 0;
  background-color: transparent;

  .announcement-bar {
    padding: rem(6) 0;
    background-color: $color-secondary;

    p {
      margin: 0;
      font-size: rem(14);
      font-weight: 500;
      text-align: center;

      > a {
        text-decoration: underline;
      }
    }
  }

  .sticky-header {
    position: relative;

    &.is-sticky {
      .navbar {
        position: fixed;
        padding-top: rem(8);
        padding-bottom: rem(8);
        background: #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;

        @include media-breakpoint-up(lg) {
          padding-top: rem(16);
          padding-bottom: rem(16);
        }
      }

      .navbar-brand {
        svg {
          path {
            fill: $color-primary;
          }
        }
      }
    }
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, transparent);
    padding-top: rem(38);
    padding-bottom: rem(38);

    &.is-open {
      position: fixed;

      .navbar-brand {
        z-index: 3;

        svg {
          path {
            fill: $color-primary;
          }
        }
      }

      .navbar-hamburger-btn {
        z-index: 3;

        div {
          &:first-child {
            transform: rotate(-45deg) translate(-4px, 3px);
          }

          &:last-child {
            transform: rotate(45deg) translate(-4px, -3px);
          }
        }
      }

      .navbar-container {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.35s ease-in-out;
      }
    }

    &-brand {
      width: rem(50);
      height: rem(50);

      svg {
        width: 100%;
        height: auto;

        path {
          fill: #fff;
        }
      }
    }

    &-hamburger-btn {
      width: rem(40);
      height: rem(40);
      padding: rem(6);
      border-radius: rem(5);
      background-color: $color-secondary;

      div {
        background-color: #0b1e1e;

        &:first-child,
        &:last-child {
          width: rem(28);
          height: rem(3);
          margin: rem(8) 0;
          transition: 0.4s;
        }

        &:nth-child(2) {
          transition: width 0.3s;
        }
      }
    }

    &-container {
      @include media-breakpoint-down(lg) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: rem(32) $gutter;
        background-color: $color-secondary;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        transition:
          opacity 0.35s ease-in-out,
          visibility 0.35s;
      }

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        gap: rem(12);
      }
    }

    &-nav {
      &-list {
        display: flex;

        @include media-breakpoint-down(lg) {
          flex-direction: column;
          justify-content: center;
          min-height: calc(100vh - 104px);

          li {
            text-align: center;

            a {
              color: $color-primary;
              font-size: rem(46);
            }
          }
        }

        @include media-breakpoint-up(lg) {
          padding: 0 rem(18);
          border-radius: rem(5);
          background-color: $color-primary;

          li {
            a {
              display: inline-block;
              padding: rem(13) rem(18);
              color: #fff;
              font-size: rem(14);

              &:hover {
                color: $color-secondary;
              }
            }
          }
        }
      }
    }
  }
}
